<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> User </title>
   </head>
   <body>
    <a href="/ "><button>Home</button></a>
       <form action="/login" method="post">

      <label for="username" >email</label>
      <input id="username" type="email" name="username"  placeholder="email">

      <label for="password" >password</label>
      <input id="password" type="password" name="password" placeholder="password">

     <button type="submit"> submit</button>
    </form>
    
    
       
       
       
       
   </body>
</html>