<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> admin </title>
   </head>
   <body>
    <a href="/ "><button>Home</button></a>
       <form action="/signup" method="post">

      <label for="name" >name</label>
      <input id="name" type="text" name="name"  placeholder="name">

      <label for="mobile" >mobile</label>
      <input id="mobile" type="number" name="mobile" placeholder="mobile">

      <label for="password" >password</label>
      <input id="password" type="password" name="password" placeholder="password">

      <label for="username" >email</label>
      <input id="username" type="email" name="username" placeholder="email">

      <label for="address" >address</label>
      <input id="address" type="text" name="address" placeholder="address">

      <button type="submit"> submit</button>
    </form>
    
    
       
       
       
       
   </body>
</html>