<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> book store </title>
   </head>
   <body>
        <a href="/ "><button>Home</button></a>
        <a href="/login "><button>Login</button></a>
        <a href="/signup "><button>Sign Up</button></a>
        <a href="/logout "><button>LogOut</button></a>

       <h1> <b> books </b> </body></h1>
       <% books.forEach((val)=>{ %>
            <ul> 
                <li><a  href="/books/<%= val._id %>" >
                    <img src="<%= val.imagePath %>" > <br>
                     <h1><%= val.title %> <br>
                     <h2>Written By: <%= val.author %></h2> </h1></a>
                </li>
                 </ul>  

       <% }) %>
       
   </body>
</html>