<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> admin </title>
   </head>
   <body>
       <form action="/admin/login" method="post">

      <label for="username" >username</label>
      <input id="username" type="String" name="username"  placeholder="username">

      <label for="password" >password</label>
      <input id="password" type="password" name="password" placeholder="password">

     <button type="submit"> submit</button>
    </form>
    