<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> admin </title>
   </head>
   <body>
       <form action="/admin/addnew" method="post" enctype="multipart/form-data">

      <label for="title" >title</label>
      <input id="title" type="text" name="title"  placeholder="title">

      <label for="image" >Image</label>
      <input id="image" type="file" name="image"  placeholder="image">


      <label for="author" >author</label>
      <input id="author" type="text" name="author" placeholder="author">

      <label for="description" >description</label>
      <input id="description" type="text" name="description" placeholder="description">

      <label for="publisher" >publisher</label>
      <input id="publisher" type="text" name="publisher" placeholder="publisher">

      <label for="price" >price</label>
      <input id="price" type="text" name="price" placeholder="price">
      
      <label for="avaibility" >avaibility</label>
      <input id="avaibility" type="text" name="avaibility" placeholder="avaibility">

      <button type="submit"> submit</button>
    </form>
    
    
       
       
       
       
   </body>
</html>