<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> book store </title>
   </head>
   <body>
       <h1> <b> Orders </b> </body></h1>
       <a href="/admin/addnew"> add new book </a>
       <% orders.forEach((val)=>{ %>
            <ul> 
                <li><a  href="/admin" > <%= val %> </a>
                     </form>  
                </li>
                 </ul>  

       <% }) %>
       
   </body>
</html>